#clock { 
	border: 1px solid black;

	border-radius: 50%;

	margin: 10px auto;
	width: 300px;
	height: 300px;
	
	position: relative;
}

#clock img {
	-webkit-transition: -webkit-transform 1s linear 0s;
	-webkit-transform-origin: 32px 32px;
	-webkit-transform: scale(0.01, 0.01);
	position: relative;
	left: 118px;
	top: 118px;
}

#sun {
	position: absolute;
	font-size: 200%;
	display: none;
}

.day #sun {
	top: 10px;
	left: 10px;
	display: block;
}

.night #moon {
	top: 10px;
	left: 10px;
	display: block;
}

#secs {
	width: 10px;
	height: 10px;
	background-color: black;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease;
	-webkit-animation-name: blinkenlicht;
	
}

@-webkit-keyframes blinkenlicht {
	from { opacity: 0; }
	to { opacity: 1; }
}
